body{
    background-color: grey;
}
.div{
    background-color: white;
    border: solid white 2px;
    height: 520px;
    width: 400px;
    margin-left: 35vw;
    margin-top: 15vh;
    border-radius: 20px;
}

.photo {
    height: 240px;
    width: 380px;
    position: relative;
    left: 10px;
    top: 10px;
    margin-bottom: 15px;
    border-radius: 15px;

}

.text {
    border: solid rgb(177, 175, 175) 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    color: rgb(93, 92, 92);
}

#new {
    margin-left: 40px;
}
.letter{
    font-size: 18px;
    margin-left: 35px;
    margin-top: 0px;
    text-align: justify;
    margin-right: 30px;
    color: rgb(93, 92, 92);
    font-style: italic;
}
.Read{
   border-radius: 20px;
   background-color: rgb(216, 236, 255);
   padding: 10px;
   color: rgb(14, 150, 234);
   border:none;
   cursor: pointer;
   
}
.Read:hover{
    background-color: rgba(132, 255, 255, 0.697);
    color: rgba(61, 138, 254, 0.679);
}